In [8]:
import sys
import os
sys.path.append(os.path.abspath('../src'))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from data.data_processor import LoanDataProcessor

# Set up visualization settings
plt.style.use('seaborn')
sns.set_palette("husl")

/var/folders/q0/7qtgvcgn1sxg_2jgqvvm73wr0000gn/T/ipykernel_93551/1175168066.py:12: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

In [34]:
# Initialize data processor
processor = LoanDataProcessor()
path_to_py = os.path.abspath('../src')
# Load raw training data
df_train = processor.load_data(os.path.join(path_to_py, "data", "training_loan_data.csv"))
# Set the second row as header
df_train.columns = df_train.iloc[0]
# Drop the rows above the header
df_train = df_train[1:].reset_index(drop=True)

/Users/tejovinay/loan-default-prediction/src/data/data_processor.py:27: DtypeWarning: Columns (0,1,2,7,10,11,12,13,14,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(filepath)

In [35]:
# Initial Data Inspection
print("Dataset Shape:", df_train.shape)
print("\nColumns:", df_train.columns.tolist())
print("\nData Types:\n", df_train.dtypes)

Dataset Shape: (199121, 23)

Columns: ['id', 'member_id', 'loan_amnt', 'term', 'int_rate', 'emp_length', 'home_ownership', 'annual_inc', 'desc', 'purpose', 'percent_bc_gt_75', 'bc_util', 'dti', 'inq_last_6mths', 'mths_since_recent_inq', 'revol_util', 'total_bc_limit', 'mths_since_last_major_derog', 'tot_hi_cred_lim', 'tot_cur_bal', 'application_approved_flag', 'internal_score', 'bad_flag']

Data Types:
 0
id                             object
member_id                      object
loan_amnt                      object
term                           object
int_rate                       object
emp_length                     object
home_ownership                 object
annual_inc                     object
desc                           object
purpose                        object
percent_bc_gt_75               object
bc_util                        object
dti                            object
inq_last_6mths                 object
mths_since_recent_inq          object
revol_util                     object
total_bc_limit                 object
mths_since_last_major_derog    object
tot_hi_cred_lim                object
tot_cur_bal                    object
application_approved_flag      object
internal_score                 object
bad_flag                       object
dtype: object

In [36]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199121 entries, 0 to 199120
Data columns (total 23 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           199121 non-null  object
 1   member_id                    189457 non-null  object
 2   loan_amnt                    199121 non-null  object
 3   term                         189457 non-null  object
 4   int_rate                     189457 non-null  object
 5   emp_length                   181531 non-null  object
 6   home_ownership               189457 non-null  object
 7   annual_inc                   189457 non-null  object
 8   desc                         82004 non-null   object
 9   purpose                      189457 non-null  object
 10  percent_bc_gt_75             180419 non-null  object
 11  bc_util                      180333 non-null  object
 12  dti                          189457 non-null  object
 13  inq_last_6mths               189457 non-null  object
 14  mths_since_recent_inq        161472 non-null  object
 15  revol_util                   189330 non-null  object
 16  total_bc_limit               181962 non-null  object
 17  mths_since_last_major_derog  32749 non-null   object
 18  tot_hi_cred_lim              181962 non-null  object
 19  tot_cur_bal                  161716 non-null  object
 20  application_approved_flag    199121 non-null  object
 21  internal_score               199121 non-null  object
 22  bad_flag                     189457 non-null  object
dtypes: object(23)
memory usage: 34.9+ MB

In [38]:
# Display sample data
print("\nSample Data:")
display(df_train.head())

Sample Data:

,id,member_id,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,desc,purpose,...,inq_last_6mths,mths_since_recent_inq,revol_util,total_bc_limit,mths_since_last_major_derog,tot_hi_cred_lim,tot_cur_bal,application_approved_flag,internal_score,bad_flag
0,10000001,11983056,7550,36 months,16.24%,3 years,RENT,28000,NaN,debt_consolidation,...,0,17,72%,4000,NaN,3828.953801,5759,1,99,0
1,10000002,12002921,27050,36 months,10.99%,10+ years,OWN,55000,Borrower added on 12/31/13 > Combining high ...,debt_consolidation,...,0,8,61.20%,35700,NaN,34359.94073,114834,1,353,0
2,10000003,11983096,12000,36 months,10.99%,4 years,RENT,60000,Borrower added on 12/31/13 > I would like to...,debt_consolidation,...,1,3,24%,18100,NaN,16416.61776,7137,1,157,0
3,10000004,12003142,28000,36 months,7.62%,5 years,MORTGAGE,325000,NaN,debt_consolidation,...,1,3,54.60%,42200,NaN,38014.14976,799592,1,365,0
4,10000005,11993233,12000,36 months,13.53%,10+ years,RENT,40000,NaN,debt_consolidation,...,0,17,68.80%,7000,53,6471.462236,13605,1,157,0

In [41]:
# Data Quality Analysis
# Missing values analysis
missing_values = df_train.isnull().sum()
missing_percentages = (missing_values / len(df_train)) * 100
print("\nMissing Values Analysis:")
display(pd.DataFrame({
    'Missing Values': missing_values,
    'Missing Percentage': missing_percentages
}).sort_values('Missing Percentage', ascending=False))

Missing Values Analysis:

                             Missing Values  Missing Percentage
0
mths_since_last_major_derog          166372           83.553216
desc                                 117117           58.817001
mths_since_recent_inq                 37649           18.907599
tot_cur_bal                           37405           18.785060
bc_util                               18788            9.435469
percent_bc_gt_75                      18702            9.392279
emp_length                            17590            8.833825
tot_hi_cred_lim                       17159            8.617373
total_bc_limit                        17159            8.617373
revol_util                             9791            4.917111
dti                                    9664            4.853330
inq_last_6mths                         9664            4.853330
bad_flag                               9664            4.853330
member_id                              9664            4.853330
purpose                                9664            4.853330
annual_inc                             9664            4.853330
home_ownership                         9664            4.853330
int_rate                               9664            4.853330
term                                   9664            4.853330
loan_amnt                                 0            0.000000
application_approved_flag                 0            0.000000
internal_score                            0            0.000000
id                                        0            0.000000

In [42]:
# Check unique values in each column
print("\nUnique Values Analysis:")
for column in df_train.columns:
    print(f"\n{column}:")
    print(df_train[column].value_counts().head())
    print(f"Unique values: {df_train[column].nunique()}")

Unique Values Analysis:

id:
id
10049781    2
10050314    2
10050312    2
10050311    2
10050310    2
Name: count, dtype: int64
Unique values: 197787

member_id:
member_id
8765391    2
8868769    2
8744776    2
8764634    2
8764776    2
Name: count, dtype: int64
Unique values: 188123

loan_amnt:
loan_amnt
10000    11957
12000     9116
15000     8827
20000     7555
8000      5637
Name: count, dtype: int64
Unique values: 2164

term:
term
 36 months    144800
 60 months     44657
Name: count, dtype: int64
Unique values: 2

int_rate:
int_rate
12.12%    9408
13.11%    8258
8.90%     7678
14.33%    7208
7.90%     6641
Name: count, dtype: int64
Unique values: 145

emp_length:
emp_length
10+ years    61648
2 years      16257
5 years      14361
3 years      14058
< 1 year     13312
Name: count, dtype: int64
Unique values: 11

home_ownership:
home_ownership
MORTGAGE    97647
RENT        76149
OWN         15573
OTHER          46
NONE           42
Name: count, dtype: int64
Unique values: 5

annual_inc:
annual_inc
60000.0    5938
50000.0    5630
40000.0    4538
65000.0    4428
45000.0    4226
Name: count, dtype: int64
Unique values: 17100

desc:
desc
  Borrower added on 09/05/13 > Debt consolidation<br>    9
  Borrower added on 09/07/13 > Debt consolidation<br>    6
  Borrower added on 07/25/13 > Debt consolidation<br>    6
  Borrower added on 01/14/13 > Debt consolidation<br>    6
  Borrower added on 09/30/13 > Debt Consolidation<br>    5
Name: count, dtype: int64
Unique values: 80643

purpose:
purpose
debt_consolidation    112259
credit_card            43431
home_improvement       10362
other                   8947
major_purchase          3681
Name: count, dtype: int64
Unique values: 13

percent_bc_gt_75:
percent_bc_gt_75
100.0    31522
0.0      22211
50.0     17918
66.7     12541
33.3      9807
Name: count, dtype: int64
Unique values: 223

bc_util:
bc_util
0.0     1254
97.4     417
98.2     404
97.9     396
97.5     383
Name: count, dtype: int64
Unique values: 2286

dti:
dti
14.4    178
12.0    124
19.2    123
16.8    122
18.0    118
Name: count, dtype: int64
Unique values: 6882

inq_last_6mths:
inq_last_6mths
0    79970
1    44168
2    20393
0    16548
3     9407
Name: count, dtype: int64
Unique values: 16

mths_since_recent_inq:
mths_since_recent_inq
1.0    14401
2.0    11592
0.0    11514
3.0    10103
4.0     9204
Name: count, dtype: int64
Unique values: 50

revol_util:
revol_util
0%        629
61.50%    344
64.60%    343
66.50%    340
67.40%    337
Name: count, dtype: int64
Unique values: 1068

total_bc_limit:
total_bc_limit
0       1249
5000    1116
6000    1007
7000     964
8000     939
Name: count, dtype: int64
Unique values: 11994

mths_since_last_major_derog:
mths_since_last_major_derog
38.0    458
40.0    454
27.0    444
34.0    441
35.0    435
Name: count, dtype: int64
Unique values: 238

tot_hi_cred_lim:
tot_hi_cred_lim
0.0            1249
0               294
13529.18753       2
37301.84136       2
13654.89567       2
Name: count, dtype: int64
Unique values: 179096

tot_cur_bal:
tot_cur_bal
0        26
19998     9
27316     8
22396     8
19417     7
Name: count, dtype: int64
Unique values: 129519

application_approved_flag:
application_approved_flag
1    166354
1     32767
Name: count, dtype: int64
Unique values: 2

internal_score:
internal_score
131    12021
157     9155
196     8860
261     7577
105     5671
Name: count, dtype: int64
Unique values: 843

bad_flag:
bad_flag
0    144412
0     31917
1     12278
1       850
Name: count, dtype: int64
Unique values: 4

In [43]:
# 3. Data Consistency Checks
# Check emp_length format
print("\nEmployment Length Unique Values:")
print(df_train['emp_length'].unique())

Employment Length Unique Values:
['3 years' '10+ years' '4 years' '5 years' '2 years' '7 years' '6 years'
 '1 year' '9 years' '< 1 year' '8 years' nan]

In [44]:
# Check percentage columns
print("\nSample values in percentage columns:")
for col in ['int_rate', 'percent_bc_gt_75', 'bc_util', 'revol_util']:
    print(f"\n{col}:")
    print(df_train[col].head())

Sample values in percentage columns:

int_rate:
0    16.24%
1    10.99%
2    10.99%
3     7.62%
4    13.53%
Name: int_rate, dtype: object

percent_bc_gt_75:
0     100
1      25
2       0
3    16.7
4    33.3
Name: percent_bc_gt_75, dtype: object

bc_util:
0      96
1    53.9
2    15.9
3    67.1
4    79.6
Name: bc_util, dtype: object

revol_util:
0       72%
1    61.20%
2       24%
3    54.60%
4    68.80%
Name: revol_util, dtype: object

In [45]:
# Check term values
print("\nTerm values:")
print(df_train['term'].value_counts())

Term values:
term
 36 months    144800
 60 months     44657
Name: count, dtype: int64

In [46]:
# Check application_approved_flag distribution
print("\nApplication Approved Flag Distribution:")
print(df_train['application_approved_flag'].value_counts(normalize=True))

Application Approved Flag Distribution:
application_approved_flag
1    0.835442
1    0.164558
Name: proportion, dtype: float64